:root {
  --background-color: #e5e8f4;
  --main-container-color: white;

  --main-text-color: #283c40;
  --light-text-color: #677b80;
  --lighter-text-color: #87a3aa;

  --button-text-color: white;

  --main-color: #9771cd;
  --main-light-color: #ac88de;
  --main-color-disabled: #c5bad4;

  --input-border-color: #cadbde;
  --input-placeholder-color: #a2b6ba;

  --highlight-color: #e0ccfc;

  --modal-color: rgba(0, 0, 0, .6);

  --shadow-color: rgba(0, 0, 0, .1);

  --warning-light: #f28d8d;
}
