.ColorPicker__ctr {
  width: 170px;
  height: 170px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.ColorPicker__swatch {
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.ColorPicker__swatch:hover {
  box-shadow: 0px 0px 0px 1px #000
}

.ColorPicker__check {
  text-align: center;
  margin-top: 2px;
}

.ColorPicker__check i {
  font-size: 14px;
}

.ColorPicker__hue-ctr .hue-horizontal {
  border-radius: 0 0 1px 1px;
}

.ColorPicker__switch-ctr  {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 2px;
}

.ColorPicker__swatches-btn {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

.ColorPicker__swatches-btn:hover {
  box-shadow: 0px 0px 0px 1px #000
}

.ColorPicker__swatches-btn i {
  position: relative;
  font-size: 19px;
  color: black;
  top: 2px;
}

.ColorPicker__picker-btn {
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
}

.ColorPicker__picker-btn:hover {
  box-shadow: 0px 0px 0px 1px #000
}

.ColorPicker__picker-btn i {
  position: relative;
  font-size: 16px;
  color: black;
  top: 3px;
}

.ColorPicker__current-header {
  grid-column: auto / span 6;
  font-size: 14px;
  align-self: end;
  text-align: center;
  color: black;
}

.ColorPicker__current-swatches-ctr {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-gap: 5px;
}

.ColorPicker__current-swatch {
  border-radius: 2px;
  border: 1px solid black;
  cursor: pointer;
}

.ColorPicker__current-swatch:hover {
  box-shadow: 0px 0px 0px 1px #000
}
