:root {
  --background-color: #e5e8f4;
  --main-container-color: white;

  --main-text-color: #283c40;
  --light-text-color: #677b80;

  --button-text-color: white;

  --main-color: #9771cd;
  --main-light-color: #ac88de;
}
