.EditMonster {
  margin: 0 auto;
  margin-top: 25px;
}

.EditMonster__header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 25px;
}

.EditMonster__outer-ctr {
  margin: 0 auto;
}

.EditMonster__monster-deleted {
  margin-top: 100px;
  text-align: center;
}

.EditMonster__monster-deleted i {
  color: var(--main-color);
  vertical-align: middle;
  margin: -5px 3px 0 -2px;
}

.EditMonster__monster-deleted h3 {
  display: inline-block;
}

.EditMonster__monster-deleted-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 3px 4px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  text-decoration: none;
}

.EditMonster__monster-deleted-btn:hover {
  text-decoration: none;
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.EditMonster__monster-ctr {
  float: left;
  position: relative;
  height: 198px;
  width: 198px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background: var(--light-container-color);
  margin-right: 10px;
  box-shadow: 0 3px 0 0 var(--border-color);
  cursor: pointer;
}

.EditMonster__edit-ctr {
  float: right;
  width: 278px;
  min-height: 178px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 0 3px 0 0 var(--border-color);
}

.EditMonster__name-ctr {
  margin-bottom: 15px;
}

.EditMonster__name {
  width: 266px;
  height: 20px;
  line-height: 25px;
  padding: 5px;
  font-size: 16px;
  background: var(--light-container-color);
  border: 1px solid var(--main-color);
}

.EditMonster__tags-outer-ctr {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
}

.EditMonster__tags-instructions-ctr {
  font-size: 12px;
  color: var(--main-text-color-light);
  margin-top: -2px;
  margin-bottom: 3px;
}

.EditMonster__tags-instructions-ctr i {
  font-size: 13px;
  color: var(--main-color);
  vertical-align: middle;
  margin-right: 2px;
}

.EditMonster__tag-input {
  display: inline-block;
  width: 228px;
  height: 20px;
  line-height: 25px;
  padding: 5px;
  font-size: 16px;
  background: var(--light-container-color);
  border: 1px solid var(--main-color);
}

input.EditMonster__tag-add-btn {
  display: inline-block;
  vertical-align: top;
  width: 34px;
  height: 32px;
  margin-left: 4px;
  text-align: center;
  font-size: 13px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  cursor: pointer;
}

.EditMonster__btn-pulse {
  animation: btn-pulse 2s infinite;
}

@keyframes btn-pulse {
  0%   { box-shadow: 0 0 0 0 rgba(151, 113, 205, 0) }
  75% { box-shadow: 0 0 0 2px rgba(151, 113, 205, 0.7) }
  100% { box-shadow: 0 0 0 1px rgba(151, 113, 205, 0) }
}

input.EditMonster__tag-add-btn:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.EditMonster__tag {
  display: inline-block;
  font-size: 11px;
  color: var(--main-color);
  padding: 2px 4px;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  cursor: pointer;
}

.EditMonster__tag-remove {
  margin-left: 2px;
  display: inline-block;
}

.EditMonster__tag-remove i {
  font-size: 12px;
  font-weight: bold;
  color: var(--warning-color-light);
  vertical-align: middle;
  margin-left: 1px;
  margin-right: -1px;
}

.EditMonster__tags-clear-all {
  padding: 0 4px;
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
  color: var(--main-color);
  text-decoration: underline;
}

.EditMonster__finish-btns-ctr {
  float: right;
  margin-top: 12px;
}

.EditMonster__finish-btn {
  padding: 2px 4px;
  margin-right: 5px;
  font-size: 18px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.EditMonster__finish-btn--disabled {
  padding: 2px 4px;
  margin-right: 5px;
  font-size: 18px;
  color: var(--main-color-disabled);
  border: 1px solid var(--main-color-disabled);
  border-radius: 3px;
  cursor: not-allowed;
}

.EditMonster__finish-btn:last-child {
  margin-right: 0;
}

.EditMonster__finish-btn:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.EditMonster__clear-btn-float {
  clear: both;
}

.EditMonster__delete {
  clear: right;
  float: right;
  margin-top: 10px;
  font-size: 12px;
  color: var(--warning-color-light);
  text-decoration: underline;
  cursor: pointer;
}

.EditMonster__delete:hover {
  color: var(--warning-color-dark);
}

.EditMonster__undo-btn {
  position: relative;
  top: -1px;
  padding: 0 2px;
  margin-left: 3px;
  display: inline-block;
  font-size: 12px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.EditMonster__undo-btn:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.EditMonster h4 {
  margin-bottom: 3px;
  display: inline-block;
}

.EditMonster__modal {
  display: table;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: var(--modal-background-color);
  overflow: scroll;
}

.EditMonster__modal__outer-ctr {
  display: table-cell;
  text-align: center;
  list-style-type: none;
}

.EditMonster__modal__inner-ctr {
  margin: 0 auto;
  margin-top: 200px;
  display: inline-block;
  padding: 20px;
  background: var(--light-container-color);
  border-bottom: 3px solid var(--border-color);
  border-radius: 3px;
  box-shadow: 4px 4px 4px var(--shadow-color);
}

.EditMonster__confirm-ctr {
  margin: 0 auto;
  text-align: center;
}

.EditMonster__confirm-btn-ctr {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.EditMonster__confirm-btn {
  display: inline-block;
  color: var(--color-white);
  background: var(--main-color);
  border-radius: 3px;
  padding: 6px 8px;
  margin-left: 10px;
}

.EditMonster__confirm-btn:first-child {
  margin-left: 0px;
}

.EditMonster__confirm-btn:hover {
  background: var(--hover-color-dark);
  text-decoration: none;
}

.EditMonster__saved-btn-ctr {
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}

.EditMonster__saved-btn {
  width: 115px;
  height: 32px;
  line-height: 32px;
  display: block;
  color: var(--color-white);
  background: var(--main-color);
  border-radius: 3px;
}

.EditMonster__saved-btn:first-child {
  margin: 10px 0;
}

.EditMonster__saved-btn:hover {
  background: var(--hover-color-dark);
  text-decoration: none;
}

.EditMonster__no-access-ctr {
  margin: 50px auto 0 auto;
  text-align: center;
}

.EditMonster__no-access-ctr i {
  vertical-align: middle;
  color: var(--warning-color-light);
  font-size: 18px;
  margin-top: -3px;
}

.EditMonster__no-access-btn {
  display: inline-block;
  padding: 2px 4px;
  margin-top: 15px;
  font-size: 18px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  cursor: pointer;
}

.EditMonster__no-access-btn:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

@media (max-width: 575px) {

  .EditMonster__monster-ctr {
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .EditMonster__edit-ctr {
    float: none;
  }

}
