.Login {
  display: table;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.Login__msg-ctr {
  margin-bottom: 6px;
}

.Login__msg {
  display: inline-block;
  font-size: 80%;
  color: var(--main-text-color-light);
  cursor: pointer;
}

.Login__msg:hover {
  color: var(--main-color-light);
}

.Login__msg .material-icons {
  font-size: 115%;
  position: relative;
  top: 3px;
  color: var(--main-color);
  cursor: pointer;
  padding-right: 4px;
}

.Login__ctr {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.Login__inner-ctr {
  position: relative;
  margin: auto;
  width: 300px;
  padding: 30px 100px;
  background: var(--light-container-color);
  border-radius: 3px;
}

.Login__h1 {
  margin-bottom: 20px;
}

.Login__input {
  text-align: center;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 100%;
  padding: 5px;
  color: var(--main-text-color);
}

.Login__btn {
  display: inline-block;
  padding: 10px 0;
  margin: 10px 0;
  width: 150px;
  font-weight: 300;
  color: var(--color-white);
  border: 1px solid var(--main-color);
  background: var(--main-color);
  border-style: none;
  border-radius: 3px;
}

.Login__btn:hover {
  background: var(--main-color-light);
  color: var(--color-white);
  text-decoration: none;
}

.Login__already {
  text-align: center;
}

.Login__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32px, -32px)
}

@media (max-width: 580px) {

  .Login__inner-ctr {
    width: 250px;
    padding: 20px;
  }

}
