.Logout__modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: var(--modal-color);
}

.Logout__modal-ctr {
  margin: auto;
  background-color: var(--main-container-color);
  padding: 15px;
  z-index: 1001;
  border-radius: 3px;
  box-shadow: 0 4px 2px 0 var(--shadow-color)
}
