/*  --- Closed Nav --- */

.MobileNav-closed {
  grid-area: header;
  padding-top: 15px;
}

.MobileNav-closed__ul {
  list-style-type: none;
}

.MobileNav-closed__li {
  float: left;
  padding: 10px;
}

.MobileNav-closed__li--logo {
  background-color: var(--main-color);
  margin-left: 15px;
  border-radius: 3px;
}

.MobileNav-closed__right {
  float: right;
}

.MobileNav-closed__right:last-child {
  margin-right: 15px;
}

.MobileNav-closed__li .material-icons {
  color: var(--main-color);
  font-size: 28px;
  margin-top: -3px;
}

.MobileNav-closed__li.material-icons:hover {
  color: var(--main-light-color);
}


/* --- Open Nav --- */

.MobileNav-open {
  display: table;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: var(--main-color);
  /* transform: translateX(100vw); */
}

.MobileNav-open__hamburger {
  color: var(--button-text-color);
  position: absolute;
  top: 25px;
  right: 25px;
}

.MobileNav-open__hamburger .material-icons {
  font-size: 28px;
  margin-top: -3px;
}

.MobileNav-open__hamburger:hover {
  color: var(--main-text-color);
}

.MobileNav-open__ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  list-style-type: none;
}

.MobileNav-open__li {
  color: var(--button-text-color);
  padding: 10px;
}

.MobileNav-open__li a:hover {
  text-decoration: none;
  color: var(--main-text-color);
}
