.Monster {
  grid-area: content;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Monster__inner-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px;
}

.Monster__monster-ctr {
  position: relative;
  box-sizing: border-box;
  height: 350px;
  width: 350px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--container-color-light);
  box-shadow: 0 3px 0 0 var(--border-color);
}

.Monster__details-ctr {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'creator'
    'likes'
    'tags';
  box-sizing: border-box;
  max-height: 350px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  background: var(--container-color-light);
  box-shadow: 0 3px 0 0 var(--border-color);
  overflow-y: auto;
}

.Monster__creator-ctr {
  grid-area: creator;
  position: relative;
  margin-bottom: 15px;
}

.Monster__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  word-break: break-all;
}

.Monster__created-by {
  display: inline;
  margin-right: 5px;
  font-size: 16px;
}

.Monster__creator {
  display: inline;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  word-break: break-all;
}

.Monster__created-on {
  display: inline;
  font-size: 13px;
  margin-right: 5px;
  font-style: italic;
}

.Monster__created-on-date {
  display: inline;
  font-size: 13px;
  font-style: italic;
}

.Monster__edit-ctr {
  color: var(--main-color);
  font-size: 12px;
  width: 700px;
  margin: 10px auto 0 auto;
  text-align: right;
}

.Monster__edit-text {
  display: inline-block;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 1px 2px;
}

.Monster__edit-text:hover {
  text-decoration: none;
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.Monster__edit-text i {
  position: relative;
  top: 2px;
  font-size: 12px;
  margin-right: 2px;
}

.Monster__likes-ctr {
  grid-area: likes;
  margin-bottom: 30px;
  display: inline;
  border-top: 1px dotted var(--border-color);
  padding-top: 10px;
}

.Monster__likes {
  float: left;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
  display: inline;
  cursor: pointer;
}

.Monster__likes:hover {
  text-decoration: underline;
}

.Monster__like-btn {
  float: right;
  color: var(--main-text-color);
  margin-top: 3px;
}

.Monster__unlike-btn {
  float: right;
  color: var(--main-color);
  margin-top: 3px;
}

.Monster__likes-ctr i {
  font-size: 22px;
}

.Monster__like-btn:hover {
  color: var(--main-color);
}

.Monster__unlike-btn:hover {
  color: var(--main-text-color);
}

.Monster__tags-ctr {
  grid-area: tags;
  align-self: end;
  word-break: break-all;
}

.Monster__tags {
  font-size: 12px;
  color: var(--main-text-color-lighter);
}

.Monster__tag {
  display: inline;
  list-style: none;
  margin-right: 2px;
}

.Monster__tags li:after {
  content: ', '
}

.Monster__tags li:last-child:after {
  content: ''
}

.Monster__other {
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}

@media (max-width: 900px) {

  .Monster__inner-ctr {
    grid-area: content;
    display: grid;
    justify-content: center;
    grid-template-columns: 310px;
    grid-template-rows: 310px auto;
    align-items: start;
  }

  .Monster__monster-ctr {
    box-shadow: none;
    width: 310px;
    height: 310px;
  }

  .Monster__details-ctr {
    max-height: none;
    border: 1px solid var(--border-color);
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: none;
  }

  .Monster__edit {
    width: 310px;
  }

  .Monster__tags-ctr {
    grid-area: tags;
    overflow: visible;
  }

}
