.Monsters {
  text-align: center;
  grid-area: content;
  margin: 25px;
}

.Monsters h1 {
  color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 25px;
}

.Monsters__explore-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 225px);
  grid-gap: 40px;
  margin: 0 0 20px 0;
}

.Monsters__sort-ctr {
  grid-column: 1 / -1;
  margin-top: 25px;
  margin-bottom: -15px;
}

.Monsters__sort-by-ctr {
  float: left;
  display: inline-block;
  height: 24px;
}

.Monsters__drop-down select {
  vertical-align: top;
  height: 24px;
  border: 1px solid var(--main-color);
  background: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}

.Monsters__search-ctr {
  float: right;
  display: inline-block;
  height: 24px;
}

.Monsters__search-ctr i {
  color: var(--main-color);
  vertical-align: middle;
  font-size: 21px;
  margin-right: 2px;
}

.Monsters__search-ctr input {
  vertical-align: top;
  height: 24px;
  width: 150px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

.Monsters__searched-ctr {
  display: inline;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.Monsters__searched-ctr i {
  color: var(--warning-color-light);
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
}

.Monsters__monster-outer-ctr {
  width: 225px;
  /* monster-outer-ctr height - 225px - 3px for monster box-shadow */
  margin-bottom: -22px;
}

.Monsters__monster-ctr {
  height: 225px;
  width: 225px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 3px 0 0 var(--border-color);
  background: var(--light-container-color);
  cursor: pointer;
  margin-bottom: 3px;
}

.Monsters__like-count-ctr {
  float: left;
  font-size: 13px;
  color: var(--main-text-color-lighter);
}

.Monsters__like-count-ctr:hover {
  color: var(--main-color);
}

.Monsters__like-ctr {
  float: right;
  color: var(--main-text-color-lighter);
}

.Monsters__like-ctr:hover {
  color: var(--main-color);
}

.Monsters__like-ctr i {
  font-size: 17px;
}

.Monsters__unlike-ctr {
  float: right;
  color: var(--main-color);
}

.Monsters__unlike-ctr:hover {
  color: var(--main-text-color-lighter);
}

.Monsters__unlike-ctr i {
  font-size: 17px;
}

.Monsters__load-more-ctr {
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.Monsters__load-more-btn {
  display: inline-block;
  height: 60px;
  width: 225px;
  padding-top: 10px;
  color: var(--color-white);
  background: var(--main-color);
  border-radius: 3px;
}

.Monsters__load-more-btn:hover {
  background: var(--main-color-light);
}

.Monsters__all-loaded {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  width: 225px;
  color: var(--main-color);
}

.Monsters__to-top-btn {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 4px 18px 4px 6px;
  font-size: 14px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  z-index: 1500;
}

.Monsters__to-top-btn i {
  position: absolute;
  right: 2px;
  top: 6px;
  font-size: 16px;
}

.Monsters__spinner-ctr {
  grid-column: 1 / -1;
}

.Monsters__no-results-ctr {
  grid-column: 1 / -1;
  margin-top: 50px;
}

@media (max-width: 554px) {

  .Monsters__sort-by-ctr {
    float: none;
    display: block;
    margin-bottom: 10px;
  }

  .Monsters__search-ctr {
    float: none;
    display: block;
    margin-left: -21px;
    margin-bottom: 5px;
  }

  .Monsters__searched-ctr {
    display: block;
  }

}
