.Monsters {
  text-align: center;
  grid-area: content;
  margin: 0 25px;
}

.Monsters__sort-ctr {
  width: 100%;
  margin-top: 25px;
}

.Monsters__sort-by {
  display: inline;
  font-size: 1em;
  margin-right: 5px;
}

.Monsters__drop-down select {
  border: 1px solid var(--main-color);
  background: none;
  color: var(--main-color);
  font-size: 1em;
  font-weight: bold;
}

.Monsters__monsters-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 225px);
  grid-gap: 40px;
  margin: 40px 0 20px 0;
}

.Monsters__monster-ctr {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 225px;
  width: 225px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  background: var(--main-container-color);
}

.Monsters__like-count-ctr {
  position: absolute;
  bottom: -18px;
  left: 2px;
  font-size: 13px;
  color: var(--lighter-text-color);
}

.Monsters__like-count-ctr:hover {
  color: var(--main-color);
}

.Monsters__like-ctr {
  position: absolute;
  right: 0px;
  bottom: -23px;
  color: var(--lighter-text-color);
  z-index: 1499;
}

.Monsters__like-ctr:hover {
  color: var(--main-color);
}

.Monsters__like-ctr i {
  font-size: 17px;
}

.Monsters__unlike-ctr {
  position: absolute;
  right: 0px;
  bottom: -23px;
  color: var(--main-color);
}

.Monsters__unlike-ctr:hover {
  color: var(--lighter-text-color);
}

.Monsters__unlike-ctr i {
  font-size: 17px;
}

.Monsters__load-more-ctr {
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.Monsters__load-more-btn {
  display: inline-block;
  height: 60px;
  width: 225px;
  padding-top: 10px;
  color: var(--button-text-color);
  background-color: var(--main-color);
  border-radius: 3px;
}

.Monsters__load-more-btn:hover {
  background-color: var(--main-light-color);
}

.Monsters__all-loaded {
  display: inline-block;
  height: 58px;
  line-height: 58px;
  width: 225px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.Monsters__to-top-btn {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 4px 18px 4px 6px;
  font-size: .9em;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  z-index: 1500;
}

.Monsters__to-top-btn i {
  position: absolute;
  right: 2px;
  top: 6px;
  font-size: 1em;
}

.Monsters__spinner-ctr {
  margin-top: 150px;
}
