.MonsterModal {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: var(--modal-background-color);
}

.MonsterModal__outer-ctr {
  display: table-cell;
  vertical-align: middle;
}

.MonsterModal__link-inner-ctr {
  position: relative;
  width: 740px;
  height: 35px;
  margin: 0 auto;
  background: var(--light-container-color);
  border-bottom: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.MonsterModal__monster-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  box-sizing: border-box;
  height: 25px;
  padding: 3px 5px;
  color: var(--main-color);
  font-size: 14px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.MonsterModal__monster-link:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.MonsterModal__monster-link i {
  font-size: 16px;
  vertical-align: bottom;
  margin-left: -1px;
}

.MonsterModal__close-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  box-sizing: border-box;
  height: 25px;
  color: var(--main-color);
  font-size: 14px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.MonsterModal__close-btn:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.MonsterModal__inner-ctr {
  position: relative;
  width: 700px;
  height: 350px;
  max-height: 80%;
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 350px;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 3px 2px 2px var(--shadow-color);
  background: white;
  border-top: 1px solid var(--border-color);
  border-bottom: 3px solid var(--border-color);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
}

.MonsterModal__monster-ctr {
  box-sizing: border-box;
  height: 350px;
  width: 350px;
  border-radius: 3px;
  background: var(--light-container-color);
}

.MonsterModal__monster-inner-ctr {
  height: 345px;
  width: 345px;
}

.MonsterModal__details-ctr {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'info'
    'likes'
    'tags';
  box-sizing: border-box;
  width: 350px;
  height: 350px;
  padding: 10px;
  background: var(--light-container-color);
  border-left: 1px solid var(--border-color);
  border-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 3000;
}

.MonsterModal__info-ctr {
  grid-area: info;
  margin-bottom: 15px;
}

.MonsterModal__name {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 8px;
}

.MonsterModal__created-by {
  display: inline;
  margin-right: 5px;
  font-size: 1em;
}

.MonsterModal__creator {
  display: inline;
  color: var(--main-color);
  font-size: 1em;
  font-weight: bold;
  word-break: break-all;
}

.MonsterModal__created-on {
  display: inline;
  font-size: .8em;
  margin-right: 5px;
  font-style: italic;
}

.MonsterModal__created-on-date {
  display: inline;
  font-size: .8em;
  font-style: italic;
}

.MonsterModal__likes-ctr {
  grid-area: likes;
  margin-bottom: 30px;
  display: inline;
  border-top: 1px dotted var(--border-color);
  padding-top: 10px;
}

.MonsterModal__likes {
  float: left;
  margin-top: 5px;
  font-weight: bold;
  font-size: .9em;
  display: inline;
  cursor: pointer;
}

.MonsterModal__likes-slideout {
  visibility: hidden;
  position: absolute;
  box-sizing: border-box;
  top: 50px;
  left: 371px;
  height: 250px;
  width: 320px;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: var(--light-container-color);
  box-shadow: 0 2px 0 0 var(--border-color);
  word-break: break-all;
  overflow-y: auto;
  z-index: 2000;
  transition: ease 250ms;
}

.MonsterModal__likes-slideout--show {
  visibility: visible;
  top: 50px;
  left: 50px;
}

.MonsterModal__likes-slideout-h-ctr {
  height: 28px;
  border-bottom: 1px dotted var(--border-color);
  margin-bottom: 5px;
}

.MonsterModal__likes-slideout h3 {
  display: inline;
  font-size: 18px;
  color: var(--main-color);
}

.MonsterModal__likes-slideout-close {
  float: right;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  margin: -3px 0 5px 5px;
}

.MonsterModal__likes-slideout-close:hover {
  color: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
}

.MonsterModal__likes-slideout-close i {
  vertical-align: middle;
  font-size: 20px;
  margin: -1px 0 0 1px;
}

.MonsterModal__likes-ul {
  list-style-type: none;
}

.MonsterModal__like-li {
  display: inline;
}

.MonsterModal__like-li::after {
  content: ', '
}

.MonsterModal__like-li:last-child::after {
  content: ''
}

.MonsterModal__likes:hover {
  text-decoration: underline;
}

.MonsterModal__like-btn {
  float: right;
  color: var(--main-text-color);
  margin-top: 3px;
}

.MonsterModal__unlike-btn {
  float: right;
  color: var(--main-color);
  margin-top: 3px;
}

.MonsterModal__likes-ctr i {
  font-size: 22px;
}

.MonsterModal__like-btn:hover {
  color: var(--main-color);
}

.MonsterModal__unlike-btn:hover {
  color: var(--main-text-color);
}

.MonsterModal__tags-ctr {
  grid-area: tags;
  align-self: end;
  max-height: 100%;
}

.MonsterModal__tags {
  font-size: 12px;
  color: var(--main-text-color-lighter);
}

.MonsterModal__tag {
  display: inline;
  list-style: none;
  margin-right: 2px;
}

.MonsterModal__tags li:after {
  content: ', '
}

.MonsterModal__tags li:last-child:after {
  content: ''
}

@media (max-width: 900px) {

  .MonsterModal__inner-ctr {
    display: grid;
    grid-template-columns: 278px;
    grid-template-rows: 278px auto;
    width: 278px;
    height: auto;
    max-height: 80%;
    overflow: auto;
  }

  .MonsterModal__link-inner-ctr {
    width: 318px;
  }

  .MonsterModal__monster-ctr {
    width: 278px;
    height: 278px;
  }

  .MonsterModal__monster-inner-ctr {
    margin: 0 auto;
    height: 275px;
    width: 275px;
  }

  .MonsterModal__details-ctr {
    width: 278px;
    height: 278px;
    border-left: none;
    border-top: 1px solid var(--border-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .MonsterModal__likes-slideout {
    top: 279px;
    left: 35px;
    height: 243px;
    width: 248px;
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .MonsterModal__likes-slideout--show {
    visibility: visible;
    top: 35px;
  }

}
