.Monster {
  text-align: center;
  grid-area: content;
  margin-top: 25px;
}

.Monster__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32px 0 0 -32px;
}


.Monster__name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.Monster__monster-ctr {
  position: relative;
  display: inline-block;
  height: 350px;
  width: 350px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  background: white;
}

.Monster__created-by-ctr {
  margin: 0 auto;
  width: 340px;
  padding: 0 5px;
  text-align: center;
  margin-bottom: 25px;
}

.Monster__created-by {
  display: inline;
  margin-right: 5px;
  font-size: .95em;
}

.Monster__creator {
  display: inline;
  color: var(--main-color);
  font-size: .95em;
  font-weight: bold;
}

.Monster__created-on {
  display: inline;
  font-size: .8em;
  margin-right: 5px;
}

.Monster__created-on-date {
  display: inline;
  font-size: .8em;
}

.Monster__tags-header {
  position: relative;
  margin: 0 auto;
  font-size: .9em;
  color: var(--light-text-color);
}

.Monster__tags-header i {
  position: relative;
  top: 3px;
  font-size: 1.1em;
  margin-right: 2px;
}

.Monster__tags-ctr {
  margin: 0 auto;
  width: 310px;
  padding: 0 20px;
  text-align: center;
  font-size: .8em;
  color: var(--light-text-color);
}
