.NewMonster {
  grid-area: content;
}

.NewMonster__ctr {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 352px;
  grid-column-gap: 25px;
  margin: 0 25px;
  grid-template-areas:
    'left monster';
}

.NewMonster__left-grid-ctr {
  grid-area: left;
}

.NewMonster__right-grid-ctr {
  grid-area: monster;
}

.NewMonster__nav-ctr {
  position: relative;
  height: 40px;
  text-align: left;
  margin-bottom: 25px;
}

.NewMonster__nav-ctr--center {
  text-align: center;
}

.NewMonster__left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 38px;
  height: 30px;
  padding-top: 8px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.NewMonster__left-arrow:hover {
  color: var(--button-text-color);
  border: 1px solid var(--main-light-color);
  background-color: var(--main-light-color);
  -webkit-user-select: none;
}

.NewMonster__left-arrow .material-icons {
  font-size: 22px;
}

.NewMonster__right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 36px;
  height: 30px;
  padding-left: 2px;
  padding-top: 8px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.NewMonster__right-arrow:hover {
  color: var(--button-text-color);
  border: 1px solid var(--main-light-color);
  background-color: var(--main-light-color);
}

.NewMonster__right-arrow .material-icons {
  font-size: 22px;
}

.NewMonster__nav {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.NewMonster__nav--margin {
  margin: 0 50px;
}

.NewMonster__nav::-webkit-scrollbar {
 display: none;
}

.NewMonster__monster-outer-ctr {
  position: relative;
  height: 350px;
  width: 350px;
}

.NewMonster__monster-outer-ctr--fixed {
  position: fixed;
  height: 350px;
  width: 350px;
  top: 25px;
}

.NewMonster__monster-ctr {
  text-align: center;
  height: 350px;
  width: 350px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  background: var(--main-container-color);
  margin-bottom: 5px;
}

.NewMonster__directions-ctr {
  position: relative;
  text-align: center;
  padding-top: 120px;
}

.NewMonster__directions-header {
  margin-bottom: 15px;
}

.NewMonster__directions-randomize-btn  {
  margin-top: 5px;
  border-radius: 3px;
  padding: 2px 6px 4px 6px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

.NewMonster__directions-randomize-btn:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.NewMonster__directions-randomize-btn i {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-right: 5px;
  color: var(--main-color);
}

.NewMonster__name-input {
  font-size: 1em;
  width: 340px;
  height: 35px;
  margin-bottom: 5px;
  padding: 0 5px;
  background-color: var(--main-container-color);
  border: 1px solid var(--main-color);
}

.NewMonster__name-input::placeholder {
  color: var(--main-light-color);
  font-style: italic;
}

.NewMonster__tags-outer-ctr {
  width: 340px;
  background: var(--main-container-color);
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.NewMonster__add-tags-text {
  color: var(--input-placeholder-color);
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 2px;
  margin-left: 1px;
}

.NewMonster__tag-input {
  display: inline;
  font-size: 13px;
  width: 290px;
  height: 25px;
  padding: 0 5px;
  background-color: var(--main-container-color);
  border: 1px solid var(--main-color);
}

input.NewMonster__tag-add-btn {
  display: inline;
  width: 38px;
  height: 27px;
  text-align: center;
  font-size: 13px;
  padding-left: 3px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
}

.NewMonster__tag-input::placeholder {
  color: var(--main-light-color);
  font-style: italic;
}

.NewMonster__tag {
  display: inline-block;
  font-size: 11px;
  color: var(--main-color);
  padding: 2px 4px;
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
  cursor: pointer;
}

.NewMonster__tag-remove {
  margin-left: 2px;
  display: inline-block;
}

.NewMonster__tag-remove i {
  font-size: 12px;
  font-weight: bold;
  color: var(--warning-light);
  vertical-align: middle;
  margin-left: 1px;
  margin-right: -1px;
}

.NewMonster__tags-clear-all {
  padding: 2px 4px;
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
  color: var(--main-color);
  text-decoration: underline;
}

.NewMonster__buttons-ctr {
  margin-top: 15px;
  text-align: center;
}

.NewMonster__buttons-ctr i {
  margin-right: 2px;
  margin-top: -2px;
  vertical-align: middle;
  font-size: 14px;
}

.NewMonster__error-message {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  color: var(--warning-light);
}

.NewMonster__error-message span {
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -3px;
  font-size: 13px;
}

.NewMonster__button-save {
  display: block;
  margin: 0 auto;
  width: 203px;
  height: 35px;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--button-text-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.NewMonster__button-save i {
  font-size: 16px;
  margin-top: -3px;
}

.NewMonster__button-save:hover {
  background-color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.NewMonster__button-save--disabled {
  color: var(--main-color-disabled);
  background-color: transparent;
  border: 1px solid var(--main-color-disabled);
  cursor: not-allowed;
}

.NewMonster__button-save--disabled:hover {
  background-color: transparent;
  border: 1px solid var(--main-color-disabled);
}

.NewMonster__button-reset {
  display: inline-block;
  margin: 0 auto;
  width: 79px;
  height: 30px;
  font-size: 14px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  margin-right: 5px;
}

.NewMonster__button-reset:hover {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.NewMonster__button-randomize {
  display: inline-block;
  width: 119px;
  height: 30px;
  /* padding: 10px; */
  font-size: 14px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.NewMonster__button-randomize:hover {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

@keyframes slidein {
  from {left: 400px;}
    to {left: 0;}
}

@keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}
