.NewMonster {
  grid-area: content;
}

.NewMonster__ctr {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 382px;
  grid-column-gap: 25px;
  margin: 0 25px;
  grid-template-areas:
    'left monster';
}

.NewMonster__left-grid-ctr {
  grid-area: left;
}

.NewMonster__right-grid-ctr {
  grid-area: monster;
}

.NewMonster__nav-ctr {
  position: relative;
  height: 40px;
  text-align: left;
  margin-bottom: 25px;
}

.NewMonster__nav-ctr--center {
  text-align: center;
}

.NewMonster__left-arrow {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 30px;
  height: 28px;
  padding-left: 8px;
  padding-top: 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.NewMonster__left-arrow:hover {
  color: var(--button-text-color);
  border: 1px solid var(--main-light-color);
  background-color: var(--main-light-color);
  -webkit-user-select: none;
}

.NewMonster__left-arrow .material-icons {
  font-size: 18px;
}

.NewMonster__right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 36px;
  height: 28px;
  padding-left: 2px;
  padding-top: 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.NewMonster__right-arrow:hover {
  color: var(--button-text-color);
  border: 1px solid var(--main-light-color);
  background-color: var(--main-light-color);
}

.NewMonster__right-arrow .material-icons {
  font-size: 18px;
}

.NewMonster__nav {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.NewMonster__nav--margin {
  margin: 0 50px;
}

.NewMonster__nav::-webkit-scrollbar {
 display: none;
}

.NewMonster__monster-outer-ctr {
  position: relative;
  height: 380px;
  width: 380px;
}

.NewMonster__monster-outer-ctr--fixed {
  position: fixed;
  height: 380px;
  width: 380px;
  top: 25px;
}

.NewMonster__monster-ctr {
  text-align: center;
  height: 380px;
  width: 380px;
  border: 1px solid var(--input-border-color);
  border-radius: 3px;
}

.NewMonster__directions-ctr {
  position: relative;
  text-align: center;
  padding-top: 120px;
}

.NewMonster__directions-header {
  margin-bottom: 15px;
}

.NewMonster__directions-randomize-btn  {
  margin-top: 5px;
  border-radius: 3px;
  padding: 2px 6px 4px 6px;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

.NewMonster__directions-randomize-btn:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.NewMonster__directions-randomize-btn i {
  position: relative;
  top: 3px;
  font-size: 16px;
  margin-right: 5px;
  color: var(--main-color);
}

.NewMonster__feature {
  position: absolute;
  height: 380px;
  width: 380px;
  top: 0;
  left: 0;
}

.NewMonster__body {
  z-index: 550;
}

.NewMonster__face {
  z-index: 560;
}

.NewMonster__headwear {
  z-index: 540;
}

.NewMonster__eyes {
  z-index: 570;
}

.NewMonster__mouth {
  z-index: 580;
}

.NewMonster__left-arm {
  z-index: 520;
}

.NewMonster__right-arm {
  z-index: 520;
}

.NewMonster__legs {
  z-index: 530;
}

.NewMonster__buttons-ctr {
  margin-top: 25px;
  width: 380px;
}

.NewMonster__buttons-ctr i {
  position: relative;
  top: 2px;
  margin: 0 5px 0 -14px;
  font-size: 16px;
}

.NewMonster__button {
  text-align: center;
  width: 380px;
  height: 40px;
  padding: 10px;
  margin-bottom: 25px;
  color: var(--button-text-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.NewMonster__button:hover {
  background-color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.NewMonster__button-reset {
  text-align: center;
  width: 380px;
  height: 40px;
  padding: 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  margin-bottom: 5px;
}

.NewMonster__button-reset:hover {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.NewMonster__button-randomize {
  text-align: center;
  width: 380px;
  height: 40px;
  padding: 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
}

.NewMonster__button-randomize:hover {
  color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

.NewMonster__confirm-ctr {
  position: relative;
  animation: slidein .35s, fadein 1s;
  width: 368px;
  height: 38px;
  padding: 0 5px 0 5px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 3px;
  margin-bottom: 5px;
}

.NewMonster__confirm {
  float: left;
  padding-left: 8px;
  line-height: 40px;
  color: var(--main-color);
  border-radius: 3px;
}

.NewMonster__confirm-button {
  float: right;
  text-align: center;
  font-weight: 300;
  width: 100px;
  height: 30px;
  margin: 4px 0 4px 5px;
  padding: 0 10px 0 10px;
  color: var(--button-text-color);
  background-color: var(--main-color);
  border-radius: 3px;
}

.NewMonster__confirm-button:hover {
  background-color: var(--main-light-color);
  border: 1px solid var(--main-light-color);
}

@keyframes slidein {
  from {left: 400px;}
    to {left: 0;}
}

@keyframes fadein {
  from {opacity: 0;}
    to {opacity: 1;}
}
