.NoAuthNavBar {
  grid-area: header;
  height: 60px;
  background: white;
}

.NoAuthNavBar__right {
  float: right;
}

.NoAuthNavBar__btn {
  margin: 15px 15px 0 0;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  width: 60px;
  font-size: 14px;
  font-weight: 300;
  color: white;
  border: 1px solid var(--main-color);
  background: var(--main-color);
  border-radius: 3px;
}

.NoAuthNavBar__btn:hover {
  background: var(--hover-color-dark);
  border: 1px solid var(--hover-color-dark);
  color: var(--hover-color-light);
  text-decoration: none;
}

.NoAuthNavBar__btn--login {
  background: transparent;
  color: var(--main-color);
}

.NoAuthNavBar__logo {
  margin: 15px 0 0 15px;
  cursor: pointer;
}
