.Splash {
  display: table;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.Splash__msg-ctr {
  margin-bottom: 6px;
}

.Splash__msg {
  display: inline-block;
  font-size: 80%;
  color: var(--light-text-color);
  cursor: pointer;
}

.Splash__msg:hover {
  color: var(--main-light-color);
}

.Splash__msg .material-icons {
  font-size: 115%;
  position: relative;
  top: 3px;
  color: var(--main-color);
  cursor: pointer;
  padding-right: 4px;
}

.Splash__ctr {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.Splash__inner-ctr {
  margin: auto;
  width: 300px;
  padding: 50px 100px;
  background-color: var(--main-container-color);
  border-radius: 3px;
}

.Splash__h1 {
  margin-bottom: 40px;
}

.Splash__btn {
  display: inline-block;
  padding: 10px 0;
  margin-bottom: 10px;
  width: 150px;
  font-weight: 300;
  color: var(--button-text-color);
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 3px;
}

.Splash__btn:hover {
  background-color: var(--main-light-color);
  color: var(--button-text-color);
  text-decoration: none;
}

.Splash__btn--login {
  background-color: var(--main-container-color);
  color: var(--main-color);
}

@media (max-width: 580px) {

  .Splash__inner-ctr {
    width: 250px;
    padding: 20px;
  }

}
