.UserPanel {
  z-index: 5000;
  transition: all 250ms;
}

.UserPanel__content--delay {
  transition-delay: 250ms;
}

.UserPanel.hide {
  position: absolute;
  top: 35px;
  right: 30px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.UserPanel.show {
  position: absolute;
  top: 55px;
  right: 50px;
  background: var(--main-container-color);
  border-radius: 3px;
  border: 1px solid var(--input-border-color);
  box-shadow: 2px 2px 2px var(--shadow-color);
  padding: 15px;
  opacity: 1;
}

.UserPanel__username {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 5px;
}

.UserPanel__ul {
  list-style-type: none;
  margin-bottom: 8px;
}

.UserPanel__li {
  color: var(--light-text-color);
  font-size: .85em;
  font-weight: 300;
  margin-bottom: 2px;
}

.UserPanel__logout-btn {
  float: right;
  color: var(--button-text-color);
  font-size: .9em;
  background-color: var(--main-color);
  padding: 5px 7px;
  margin-top: 10px;
  border-radius: 3px;
  display: inline-block;
}

.UserPanel__logout-btn:hover {
  background-color: var(--main-light-color);
  text-decoration: none;
}
