.UserPanel {
  position: absolute;
  top: 55px;
  right: 30px;
  background: var(--main-container-color);
  padding: 20px;
  border-radius: 3px;
  z-index: 500;
  transition: all 250ms;
}

.UserPanel.hide {
  height: 0px;
  width: 0px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.UserPanel.show {
  height: 100px;
  width: 200px;
  opacity: 1;
}

.UserPanel__content--delay {
  transition-delay: 250ms;
}
