.User {
  text-align: center;
  grid-area: content;
  margin: 25px 25px 0 25px;
}

.User__sort-ctr {
  width: 100%;
  margin-top: 25px;
}

.User__sort-by {
  display: inline;
  font-size: 1em;
  margin-right: 5px;
}

.User__drop-down select {
  border: 1px solid var(--main-color);
  background: none;
  color: var(--main-color);
  font-size: 1em;
  font-weight: bold;
}

.User__monsters-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 40px;
  margin: 40px 0 20px 0;
}

.User__monster-ctr {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 250px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background: white;
}

.User__edit-ctr {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 3px;
  background: white;
  z-index: 1999;
}

.User__edit {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: var(--light-container-color);
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 2px;
  cursor: pointer;
  z-index: 2000;
}

.User__edit:hover {
  color: var(--color-white);
  background: var(--main-color);
  text-decoration: none;
}

.User__like-count-ctr {
  position: absolute;
  bottom: -18px;
  left: 2px;
  font-size: 13px;
  color: var(--main-text-color-lighter);
}

.User__like-count-ctr:hover {
  color: var(--main-color);
}

.User__like-ctr {
  position: absolute;
  right: 0px;
  bottom: -23px;
  color: var(--main-text-color-lighter);
  z-index: 1499;
}

.User__like-ctr:hover {
  color: var(--main-color);
}

.User__like-ctr i {
  font-size: 17px;
}

.User__unlike-ctr {
  position: absolute;
  right: 0px;
  bottom: -23px;
  color: var(--main-color);
}

.User__unlike-ctr:hover {
  color: var(--main-text-color-lighter);
}

.User__unlike-ctr i {
  font-size: 17px;
}

.User__spinner-ctr {
  margin-top: 150px;
}
