.User {
  text-align: center;
  grid-area: content;
  padding: 25px;
}

.User h1 {
  color: var(--main-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 25px;
}

.User__monsters-ctr {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 40px;
  margin: 0 0 20px 0;
}

.User__no-monsters-ctr {
  margin-top: 40px;
}

.User__no-monsters-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 5px 7px;
  color: white;
  background: var(--main-color);
  border-radius: 3px;
}

.User__no-monsters-btn:hover {
  background: var(--hover-color-dark);
  text-decoration: none;
}

.User__sort-ctr {
  grid-column: 1 / -1;
  margin-top: 25px;
  margin-bottom: -15px;
}

.User__sort-by-ctr {
  float: left;
  display: inline-block;
}

.User__drop-down select {
  vertical-align: top;
  height: 24px;
  border: 1px solid var(--main-color);
  background: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}

.User__monster-outer-ctr {
  position: relative;
  width: 252px;
  /* monster-outer-ctr height - 250 monster-ctr height - box shadow */
  margin-bottom: -23px;
}

.User__monster-ctr {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 250px;
  width: 250px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  background: white;
  box-shadow: 0 3px 0 0 var(--border-color);
  margin-bottom: 4px;
  cursor: pointer;
}

.User__edit-ctr {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 3px;
  background: white;
  z-index: 1999;
}

.User__edit {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background: var(--container-color-light);
  border-radius: 3px;
  margin: 4px 4px 0 0;
  padding: 2px;
  cursor: pointer;
  z-index: 2000;
}

.User__edit:hover {
  color: var(--hover-color-light);
  background: var(--main-color);
  text-decoration: none;
}

.User__like-count-ctr {
  float: left;
  font-size: 13px;
  color: var(--main-text-color-lighter);
}

.User__like-count-ctr:hover {
  color: var(--main-color);
}

.User__like-ctr {
  float: right;
  color: var(--main-text-color-lighter);
}

.User__like-ctr:hover {
  color: var(--main-color);
}

.User__like-ctr i {
  font-size: 17px;
}

.User__unlike-ctr {
  float: right;
  color: var(--main-color);
}

.User__unlike-ctr:hover {
  color: var(--main-text-color-lighter);
}

.User__unlike-ctr i {
  font-size: 17px;
}

.User__not-found {
  margin-top: 50px;
}

.User__spinner-ctr {
  margin-top: 150px;
}
