:root {
  --background-color: #f1f3f5;
  --light-container-color: white;

  --color-black: black;
  --color-white: white;

  --main-color: #7c5aed;
  --main-color-light: #ac96f7;
  --main-color-lighter: #ddd2ff;
  --main-color-disabled: #c0bad4;

  --main-text-color: #283c40;
  --main-text-color-light: #677b80;
  --main-text-color-lighter: #87a3aa;

  --hover-color-dark: black;
  --hover-color-light: white;

  --warning-color-light: #f28d8d;
  --warning-color-dark: #de6666;

  --border-color: #dadee2;

  --modal-background-color: rgba(0, 0, 0, .6);

  --shadow-color: rgba(0, 0, 0, .1);
  --shadow-color-dark: rgba(0, 0, 0, .25);
}
